/* Estilo geral */
body {
    font-family: 'Garamond', serif;
    background-color: #F8F8FF;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilo do menu */
header nav {
    display: flex;
    justify-content: space-between; /* Logo à esquerda, menu à direita */
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #aaa; /* Linha inferior discreta */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

header nav ul li {
    margin: 0 20px;
}

#logo {
    font-family: Arial, sans-serif;
    font-size: 24px; /* Destaque para o logo */
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    font-family: Arial, sans-serif; /* Fonte do menu em Arial */
    color: #333;
    font-size: 20px; /* Tamanho maior para os itens do menu */
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #FFD700; /* Efeito hover */
}
