/* Define o estilo geral da página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Branco gelo */
    font-family: Arial, Helvetica, sans-serif; /* Fonte sem serifa */
}

/* Estilo para o container do texto */
.container {
    text-align: center;
    color: #000; /* Preto */
}

/* Estilo para os textos */
h1 {
    margin: 0;
    font-size: 3rem; /* Ajuste conforme necessário */
}
